@charset "UTF-8";
/* 定義 */
/* フォント */
.color-nomal {
  color: #2c2c2c;
}

.emphasis {
  color: #2b5db7;
}

.fontMin {
  font-size: 16px;
}

.fontSmall {
  font-size: 18px;
}

.fontMedium {
  font-size: 22px;
}

.fontLarge {
  font-size: 24px;
}

.fontMax {
  font-size: 40px;
}

.fontBold {
  font-weight: bold;
}

h3 {
  font-size: 24px;
  color: #2c2c2c;
  font-weight: bold;
  margin: 24px 0px 16px;
}

/* レイアウト */
.l-textCenter {
  text-align: center;
}

.l-center, .section05 .l-center {
  margin: 0px auto;
}

html {
  width: 100%;
}

body {
  width: 100%;
  border-spacing: 0vh;
}

.wrapper {
  margin: 0px auto;
  width: 100%;
  max-width: 1300px;
}

/*---------------------------
 Header
---------------------------*/
header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 10%;
  height: 95px;
  margin: 0px 0px 0px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 65%;
  margin: 0px 60px 0px 0px;
  display: flex;
  justify-content: space-between;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: #2c2c2c;
  text-decoration: none;
}
nav img {
  margin-right: 8px;
}

/*---------------------------
 MV
---------------------------*/
.section01 {
  width: 100%;
  height: 600px;
  position: relative;
  margin-bottom: 80px;
  background: url("../assets/pc/img_mv.png") center right no-repeat;
  background-size: cover;
}
.section01 .mvContent {
  position: absolute;
  left: 60px;
  top: 50px;
  z-index: 10;
}
.section01 .mvContent .dlBtn {
  margin-top: 30px;
  margin-bottom: 20px;
}

/*---------------------------
 SubView
---------------------------*/
.section02 {
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 110px;
  position: relative;
}
.section02 .subView {
  width: 100%;
  display: flex;
  z-index: 10;
}
.section02 .subView .leftImg {
  width: 47%;
  z-index: 10;
}
.section02 .subView .leftImg img {
  width: 100%;
  vertical-align: bottom;
  z-index: 10;
}
.section02 .subView .subViewText {
  margin-left: 5%;
  width: 35%;
  z-index: 10;
}
.section02 .subViewBg {
  width: 80%;
  height: 90%;
  background: url("../assets/pc/bg01.jpg") repeat;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
.section02 .subViewBg div {
  width: 30%;
  position: absolute;
  bottom: -30px;
  left: 650px;
}
.section02 .subViewBg div img {
  width: 100%;
}

/*---------------------------
 セクション3 自由研究ツールの特徴
---------------------------*/
.section03 {
  width: 100%;
  height: 792px;
  position: relative;
}
.section03 h1 {
  width: 616px;
  height: 48px;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 10;
}
.section03 .featureContent {
  width: 100%;
  background: #eef8ff;
  position: absolute;
  top: 24px;
  left: 0px;
  z-index: 1;
}
.section03 .featureContent ul {
  margin: 84px 150px 0px;
  display: flex;
  justify-content: space-between;
}
.roundFrame {
  width: 212px;
  height: 212px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featureText {
  width: 212px;
}
.section03 .featureContent .l-annotation {
  margin: 0px 150px 60px;
}

.section04 {
  width: 100%;
  height: auto;
  position: relative;
}
.section04 h1 {
  width: 517px;
  height: 48px;
  margin: 80px auto;
}
.section04 .catchCopy {
  width: 100%;
  height: 213px;
  margin-left: 18%;
}
.section04 .textContent {
  width: 72%;
  height: 300px;
  background: url("../assets/pc/bg01.jpg") repeat;
  margin-top: 50px;
  position: relative;
}
.section04 .textArea {
  width: 450px;
  padding-top: 40px;
  margin-left: 12%;
}
.section04 .completeImg {
  position: absolute;
  top: 120px;
  left: 55%;
}
.section04 .l-dlBtn {
  position: absolute;
  bottom: -30px;
  left: 12%;
  z-index: 10;
}
.section04 .l-dlBtn img {
  vertical-align: bottom;
}

.section05 {
  widows: 100%;
  height: auto;
  background: url("../assets/pc/bg04.jpg") repeat;
  margin-top: 110px;
  padding: 80px 0px;
  position: relative;
}
.section05 h1 {
  width: 619px;
  height: 48px;
  position: absolute;
  top: -24px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 10;
}
.section05 .l-info {
  width: 77%;
  margin: 60px auto 0px;
  display: flex;
  justify-content: space-between;
}
.section05 .l-info .l-infoL {
  width: 47%;
}
.section05 .l-info .l-infoL .leftImg {
  width: 100%;
}
.section05 .l-info .l-infoL .leftImg img {
  width: 100%;
}
.section05 .l-info .l-infoL .benefits {
  width: 99%;
  height: auto;
  border: 2px solid #ffb700;
  margin-top: 85px;
  position: relative;
}
.section05 .l-info .l-infoL .benefits h2 {
  width: 260px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.section05 .l-info .l-infoL .benefits h3 {
  font-size: 1.84vw;
  font-weight: bold;
  text-align: center;
  margin-top: 55px;
}
.section05 .l-info .l-infoL .benefits p {
  width: 84%;
  font-size: 1.4vw;
  margin: 30px auto;
}
.section05 .l-info .l-infoL .benefits p span {
  font-size: 1.2vw;
}
.section05 .l-info .l-infoR {
  width: 47%;
}
.section05 .l-info .l-infoR dl {
  width: 100%;
  font-size: 1.7vw;
  display: flex;
  margin-bottom: 30px;
}
.section05 .l-info .l-infoR dl:last-child {
  margin-bottom: 0;
}
.section05 .l-info .l-infoR dl dt {
  color: #fff;
  width: 24%;
  height: 40px;
  margin-right: 4%;
  background: #2b5db7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section05 .l-info .l-infoR dl dd {
  width: 72%;
}
.section05 .l-info .l-infoR dl dd span {
  font-size: 1.4vw;
}
.section05 .l-info .l-infoR img {
  width: 100%;
  margin-top: 50px;
}
.section05 .schedule {
  width: 77%;
  margin: 80px auto 0px;
}
.section05 .schedule h2 {
  width: 50%;
  height: 40px;
  margin: 0px auto 60px;
  text-align: center;
}
.section05 .l-table {
  width: 100%;
  border-right: #b2b2b2 solid 1px;
}
.section05 .l-table thead tr {
  width: 100%;
  padding: 15px 0;
}
.section05 .l-table thead th {
  background: #2b5db7;
  color: #FFF;
  text-align: center;
  padding: 10px 0px;
  border-right: #b2b2b2 solid 1px;
  border-bottom: #b2b2b2 solid 1px;
}
.section05 .l-table thead th:last-child {
  border-right: #b2b2b2 solid 1px;
}
.section05 .l-table tbody tr {
  width: 100%;
  height: 80px;
}
.section05 .l-table tbody th {
  height: 80px;
  color: #2c2c2c;
  font-weight: bold;
  background: #e0f1fe;
  border-bottom: #b2b2b2 solid 1px;
  border-left: #b2b2b2 solid 1px;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section05 .l-table tbody tr:last-child th {
  border-bottom: #b2b2b2 solid 1px;
}
.section05 .l-table tbody td {
  height: 80px;
  background: #fff;
  border-left: #b2b2b2 solid 1px;
  border-bottom: #b2b2b2 solid 1px;
}
.section05 .l-table tbody td p {
  height: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section05 .l-center {
  width: 390px;
  height: 60px;
  margin-top: 60px;
}
.section05 a {
  width: 100%;
  height: 60px;
}
.section05 a img {
  width: 100%;
  height: 60px;
}

.section06 {
  width: 100%;
  height: 600px;
  background: url("../assets/pc/img_peaceLearning.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.section06 .textBg {
  width: 485px;
  height: 364px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 80px;
  right: 10%;
}
.section06 .textBg h1 {
  width: 477px;
  height: 47px;
  margin: 0 auto 5px;
}
.section06 .textBg svg {
  width: 100%;
  height: 6px;
}
.section06 .textBg svg line {
  fill: none;
  stroke: #ffb700;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 0.5, 20;
}
.section06 .textBg p {
  margin-top: 10px;
  line-height: 1.75;
}

.section07 {
  width: 100%;
  position: relative;
}
.section07 .voice {
  width: 77%;
  background: url("../assets/pc/bg02.jpg") repeat;
  margin: 125px auto 0px;
}
.section07 .voice h1 {
  width: 450px;
  height: 90px;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.section07 .voice .l-voice {
  display: flex;
  justify-content: space-between;
}
.section07 .voice .l-voice img {
  width: 24%;
}

/*# sourceMappingURL=style.css.map */
