/* 定義 */
$black: #2c2c2c;
$yellow: #ffb700;
$blue: #2b5db7;

/* フォント */
.color-nomal {
	color: $black;
}
.emphasis {
	color: #2b5db7;
}
.fontMin {
	font-size: 16px;
}
.fontSmall {
	font-size: 18px;
}
.fontMedium {
	font-size: 22px;
}
.fontLarge {
	font-size: 24px;
}

h3 {
	font-size: 24px;
	color: $black;
	font-weight: bold;
	margin: 24px 0px 16px;
}

/* レイアウト */
.l-textCenter {
	text-align: center;
}


html {
	width: 100%;
}

body {
	width: 100%;
}

.wrapper {
	margin: 0px auto;
	width: 100%;
	max-width: 1300px;
}

/*---------------------------
 Header
---------------------------*/
header {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo {
		width: 10%;
		height: 95px;
		margin: 0px 0px 0px 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@at-root nav {
		width: 65%;
		margin: 0px 60px 0px 0px;
		display: flex;
		justify-content: space-between;
		ul {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		a {
			color: $black;
			text-decoration: none;
		}
		img {
			margin-right: 8px;
		}
	}
}

/*---------------------------
 MV
---------------------------*/
.section01 {
	width: 100%;
	height: 600px;
	position: relative;
	margin-bottom: 80px;
	background: url("../assets/pc/img_mv.png") center right no-repeat;
	background-size: cover;
	// .mvImg {
	// 	width: 100%;
	// 	height: 600px;
	// z-index: 1;
		// img {
		// 	height: 600px;
		// 	vertical-align: bottom;
		// 	position: absolute;
		// 	right: 0px;
		// 	top: 0px;
		// }
	// }
	.mvContent {
		position: absolute;
		left: 60px;
		top: 50px;
		z-index: 10;
		.dlBtn {
			margin-top: 30px;
			margin-bottom: 20px;
		}
	}
}

/*---------------------------
 SubView
---------------------------*/
.section02 {
	width: 100%;
	padding-bottom: 50px;
	margin-bottom: 110px;
	position: relative;
	.subView {
		width: 100%;
		display: flex;
		z-index: 10;
		.leftImg {
			width: 47%;
			z-index: 10;
			img {
				width: 100%;
				vertical-align: bottom;
				z-index: 10;
			}
		}
		.subViewText {
			margin-left: 5%;
			width: 35%;
			z-index: 10;
		}
	}
	.subViewBg {
		width: 80%;
		height: 90%;
		background: url("../assets/pc/bg01.jpg") repeat;
		position: absolute;
		bottom: 0px;
		right: 0px;
		z-index: 1;
		div {
			width: 30%;
			position: absolute;
			bottom: -30px;
			left: 650px;
			img {
				width: 100%;
			}
		}
	}
}

/*---------------------------
 セクション3 自由研究ツールの特徴
---------------------------*/
.section03 {
	width: 100%;
	height: 792px;
	position: relative;
	h1 {
		width: 616px;
		height: 48px;
		position: absolute;
		top: 0px;
		left: 50%;
		-webkit-transform: translate(-50%,0%);
		-moz-transform: translate(-50%,0%);
		-ms-transform: translate(-50%,0%);
		-o-transform: translate(-50%,0%);
		transform: translate(-50%,0%);
		z-index: 10;
	}
	.featureContent {
		width: 100%;
		background: #eef8ff;
		position: absolute;
		top: 24px;
		left: 0px;
		z-index: 1;
		ul {
			margin: 84px 150px 0px;
			display: flex;
			justify-content: space-between;
		}
		@at-root .roundFrame {
			width: 212px;
			height: 212px;
			background: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@at-root .featureText {
			width: 212px;
		}
		.l-annotation {
			margin: 0px 150px 60px;
		}
	}
}

// ここ以下はポジションで修正済み
.section04 {
	width: 100%;
	height: auto;
	position: relative;
	h1 {
		width: 517px;
		height: 48px;
		// position: absolute;
		// top: 80px;
		// left: 50%;
		// -webkit-transform: translate(-50%,0%);
		// -moz-transform: translate(-50%,0%);
		// -ms-transform: translate(-50%,0%);
		// -o-transform: translate(-50%,0%);
		// transform: translate(-50%,0%);
		// z-index: 10;
		margin: 80px auto;
	}
	.catchCopy {
		width: 100%;
		height: 213px;
		// position: absolute;
		// top: 200px;
		margin-left: 18%;
	}
	.textContent {
		width: 72%;
		height: 300px;
		background: url("../assets/pc/bg01.jpg") repeat;
		margin-top: 50px;
		position: relative;
		// position: absolute;
		// top: 470px;
		// left: 0px;
	}
	.textArea {
		width: 450px;
		padding-top: 40px;
		margin-left: 12%;
		// margin: 40px 0px 40px 150px;
	}
	.completeImg {
		position: absolute;
		top: 120px;
		left: 55%;
	}
	.l-dlBtn {
		position: absolute;
		bottom: -30px;
		left: 12%;
		z-index: 10;
		img {
			vertical-align: bottom;
		}
	}
}

.section05 {
	widows: 100%;
	height: auto;
	background: url("../assets/pc/bg04.jpg") repeat;
	margin-top: 110px;
	padding-top: 80px;
	position: relative;
	h1 {
		width: 619px;
		height: 48px;
		position: absolute;
		top: -24px;
		left: 50%;
		-webkit-transform: translate(-50%,0%);
		-moz-transform: translate(-50%,0%);
		-ms-transform: translate(-50%,0%);
		-o-transform: translate(-50%,0%);
		transform: translate(-50%,0%);
		z-index: 10;
	}
	.l-info {
		width: 77%;
		margin: 60px auto 0px;
		display: flex;
		justify-content: space-between;
		.l-infoL {
			width: 47%;
			.leftImg {
				width: 100%;
				img {
					width: 100%;
				}
			}
			.benefits {
				width: 99%;
				height: auto;
				border: 2px solid $yellow;
				margin-top: 85px;
				position: relative;
				h2 {
					width: 260px;
					height: 50px;
					margin: 0 auto;
					position: absolute;
					top: 0;
					left: 50%;
					-webkit-transform: translate(-50%,-50%);
					-moz-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					z-index: 10;
				}
				h3 {
					font-size: 1.84vw;
					font-weight: bold;
					text-align: center;
					margin-top: 55px;
				}
				p {
					width: 84%;
					font-size: 1.4vw;
					margin: 30px auto;
					span {
						font-size: 1.2vw;
					}
				}
			}
		}
		.l-infoR {
			width: 47%;
			dl {
				width: 100%;
				font-size: 1.7vw;
				display: flex;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
				dt {
					color: #fff;
					width: 24%;
					height: 40px;
					margin-right: 4%;
					background: $blue;
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				dd {
					width: 72%;
					span {
						font-size: 1.4vw;
					}
				}
			}
			img {
				width: 100%;
				margin-top: 50px;
			}
		}
	}
}