/* 定義 */
$black: #2c2c2c;
$lightGray: #b2b2b2;
$yellow: #ffb700;
$blue: #2b5db7;
$lightBlue: #e0f1fe;

/* フォント */
@font-face {
	font-family: 'mgenplus-1m-bold';
	src:local('mgenplus-1m-bold') ,
		url('mgenplus-1m-bold.ttf');
}
$mgen: "mgenplus-1m-bold";
.color-nomal {
	color: $black;
}
.emphasis {
	color: #2b5db7;
}
.fontMin {
	font-size: 16px;
}
.fontSmall {
	font-size: 18px;
}
.fontMedium {
	font-size: 22px;
}
.fontLarge {
	font-size: 24px;
}
.fontMax {
	font-size: 40px;
}
.fontBold {
	font-weight: bold;
}

h3 {
	font-size: 24px;
	color: $black;
	font-weight: bold;
	margin: 24px 0px 16px;
}

/* レイアウト */
.l-textCenter {
	text-align: center;
}
.l-center {
	margin: 0px auto;
}


html {
	width: 100%;
}

body {
	width: 100%;
	border-spacing: 0vh;
}

.wrapper {
	margin: 0px auto;
	width: 100%;
	max-width: 1300px;
	overflow: hidden;
}

/*---------------------------
 Header
---------------------------*/
header {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo {
		width: 10%;
		height: 95px;
		margin: 0px 0px 0px 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@at-root nav {
		width: 65%;
		margin: 0px 60px 0px 0px;
		display: flex;
		justify-content: space-between;
		ul {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		a {
			color: $black;
			text-decoration: none;
		}
		img {
			margin-right: 8px;
		}
	}
}

/*---------------------------
 MV
---------------------------*/
.section01 {
	width: 100%;
	height: 600px;
	position: relative;
	margin-bottom: 80px;
	background: url("../assets/pc/img_mv.png") center right no-repeat;
	background-size: cover;
	.mvContent {
		position: absolute;
		left: 60px;
		top: 50px;
		z-index: 10;
		.dlBtn {
			margin-top: 30px;
			margin-bottom: 20px;
		}
	}
}

/*---------------------------
 SubView
---------------------------*/
.section02 {
	width: 100%;
	padding-bottom: 50px;
	margin-bottom: 110px;
	position: relative;
	.subView {
		width: 100%;
		display: flex;
		z-index: 10;
		.leftImg {
			width: 47%;
			z-index: 10;
			img {
				width: 100%;
				vertical-align: bottom;
				z-index: 10;
			}
		}
		.subViewText {
			margin-left: 5%;
			width: 35%;
			z-index: 10;
		}
	}
	.subViewBg {
		width: 80%;
		height: 90%;
		background: url("../assets/pc/bg01.jpg") repeat;
		position: absolute;
		bottom: 0px;
		right: 0px;
		z-index: 1;
		div {
			width: 30%;
			position: absolute;
			bottom: -30px;
			left: 650px;
			img {
				width: 100%;
			}
		}
	}
}

/*---------------------------
 セクション3 自由研究ツールの特徴
---------------------------*/
.section03 {
	width: 100%;
	height: 792px;
	position: relative;
	h1 {
		width: 616px;
		height: 48px;
		position: absolute;
		top: 0px;
		left: 50%;
		-webkit-transform: translate(-50%,0%);
		-moz-transform: translate(-50%,0%);
		-ms-transform: translate(-50%,0%);
		-o-transform: translate(-50%,0%);
		transform: translate(-50%,0%);
		z-index: 10;
	}
	.featureContent {
		width: 100%;
		background: #eef8ff;
		position: absolute;
		top: 24px;
		left: 0px;
		z-index: 1;
		ul {
			margin: 84px 150px 0px;
			display: flex;
			justify-content: space-between;
		}
		@at-root .roundFrame {
			width: 212px;
			height: 212px;
			background: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@at-root .featureText {
			width: 212px;
		}
		.l-annotation {
			margin: 0px 150px 60px;
		}
	}
}

// ここ以下はポジションで修正済み
.section04 {
	width: 100%;
	height: auto;
	position: relative;
	h1 {
		width: 517px;
		height: 48px;
		// position: absolute;
		// top: 80px;
		// left: 50%;
		// -webkit-transform: translate(-50%,0%);
		// -moz-transform: translate(-50%,0%);
		// -ms-transform: translate(-50%,0%);
		// -o-transform: translate(-50%,0%);
		// transform: translate(-50%,0%);
		// z-index: 10;
		margin: 80px auto;
	}
	.catchCopy {
		width: 100%;
		height: 213px;
		// position: absolute;
		// top: 200px;
		margin-left: 18%;
	}
	.textContent {
		width: 72%;
		height: 300px;
		background: url("../assets/pc/bg01.jpg") repeat;
		margin-top: 50px;
		position: relative;
		// position: absolute;
		// top: 470px;
		// left: 0px;
	}
	.textArea {
		width: 450px;
		padding-top: 40px;
		margin-left: 12%;
		// margin: 40px 0px 40px 150px;
	}
	.completeImg {
		position: absolute;
		top: 120px;
		left: 55%;
	}
	.l-dlBtn {
		position: absolute;
		bottom: -30px;
		left: 12%;
		z-index: 10;
		img {
			vertical-align: bottom;
		}
	}
}

.section05 {
	widows: 100%;
	height: auto;
	background: url("../assets/pc/bg04.jpg") repeat;
	margin-top: 110px;
	padding: 80px 0px;
	position: relative;
	h1 {
		width: 619px;
		height: 48px;
		position: absolute;
		top: -24px;
		left: 50%;
		-webkit-transform: translate(-50%,0%);
		-moz-transform: translate(-50%,0%);
		-ms-transform: translate(-50%,0%);
		-o-transform: translate(-50%,0%);
		transform: translate(-50%,0%);
		z-index: 10;
	}
	.l-info {
		width: 77%;
		margin: 60px auto 0px;
		display: flex;
		justify-content: space-between;
		.l-infoL {
			width: 47%;
			.leftImg {
				width: 100%;
				img {
					width: 100%;
				}
			}
			.benefits {
				width: 99%;
				height: auto;
				border: 2px solid $yellow;
				margin-top: 85px;
				position: relative;
				h2 {
					width: 260px;
					height: 50px;
					margin: 0 auto;
					position: absolute;
					top: 0;
					left: 50%;
					-webkit-transform: translate(-50%,-50%);
					-moz-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					z-index: 10;
				}
				h3 {
					font-size: 1.84vw;
					font-weight: bold;
					text-align: center;
					margin-top: 55px;
				}
				p {
					width: 84%;
					font-size: 1.4vw;
					margin: 30px auto;
					span {
						font-size: 1.2vw;
					}
				}
			}
		}
		.l-infoR {
			width: 47%;
			dl {
				width: 100%;
				font-size: 1.7vw;
				display: flex;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
				dt {
					color: #fff;
					width: 24%;
					height: 40px;
					margin-right: 4%;
					background: $blue;
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				dd {
					width: 72%;
					span {
						font-size: 1.4vw;
					}
				}
			}
			img {
				width: 100%;
				margin-top: 50px;
			}
		}
	}
	.schedule {
		width: 77%;
		margin: 80px auto 0px;
		h2 {
			width: 50%;
			height: 40px;
			margin: 0px auto 60px;
			text-align: center;
		}
	}
	.l-table {
		width:100%;
		border-right: #b2b2b2 solid 1px;
		// tr {
		// 	width: 100%;
		// 	height: 80px;
		// }
		thead {
			tr {
				width: 100%;
				padding: 15px 0;
			}
			th {
				background:$blue;
				color:#FFF;
				text-align: center;
				padding:10px 0px;
				border-right:#b2b2b2 solid 1px;
				border-bottom:#b2b2b2 solid 1px;
				&:last-child {
					border-right:#b2b2b2 solid 1px;
				}
			}
		}
		tbody {
			tr {
				width: 100%;
				height: 80px;
			}
			th {
				height: 80px;
				color: $black;
				font-weight: bold;
				background:$lightBlue;
				border-bottom:#b2b2b2 solid 1px;
				border-left:#b2b2b2 solid 1px;
				vertical-align:top;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			tr:last-child th {
				border-bottom:#b2b2b2 solid 1px;
			}
			td {
				height: 80px;
				background:#fff;
				border-left:#b2b2b2 solid 1px;
				border-bottom:#b2b2b2 solid 1px;
				p {
					height: 80px;
					text-align: center;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	// @media screen and (max-width: 768px) {
	// 	.l-table thead {
	// 		display:none;
	// 	}
	// 	.l-table tbody th {
	// 		display:block;
	// 	}
	// 	.l-table tbody td {
	// 		display:block;
	// 	}
	// 	.l-table tbody td::before {
	// 		content: attr(label);
	// 		float: left;
	// 		clear:both;
	// 		font-weight:bold;
	// 	}
	// 	.l-table tbody td p {
	// 		padding-left:6em;
	// 	}
	// }
	.l-center {
		width: 390px;
		height: 60px;
		@extend .l-center;
		margin-top: 60px;
	}
	a {
		width: 100%;
		height: 60px;
		img {
			width: 100%;
			height: 60px;
		}
	}
}

.section06 {
	width: 100%;
	height: 600px;
	background: url("../assets/pc/img_peaceLearning.jpg") center center no-repeat;
	background-size: cover;
	position: relative;
	.textBg {
		width: 485px;
		height: 364px;
		padding: 40px;
		background-color: rgba(255,255,255,0.8);
		position: absolute;
		top: 80px;
		right: 10%;
		h1 {
			width: 477px;
			height: 47px;
			margin: 0 auto 5px;
			
		}
		svg{
			width: 100%;
			height: 6px;
		}
		svg line{
			fill: none;
			stroke: $yellow;
			stroke-width: 6;
			stroke-linecap: round;
			stroke-dasharray: 0.5, 20;
		}
		p {
			margin-top: 10px;
			line-height: 1.75;
		}
	}
}

.section07 {
	width: 100%;
	position: relative;
	.voice {
		width: 77%;
		padding: 90px 0px 40px;
		background: url("../assets/pc/bg02.jpg") repeat;
		margin: 125px auto 0px;
		h1 {
			width: 450px;
			height: 90px;
			position: absolute;
			top: 0px;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			z-index: 10;
		}
		.l-voice {
			width: 88%;
			height: auto;
			margin: 0px 6% 10px;
			display: flex;
			justify-content: space-between;
			.adjust-box {
				width: 28%;
				height: auto;
			}
			.box-1x1::before {
				content: "";
				display: block;
				padding-top: 0%;
			}
			img {
				width: 100%;
			}
			.baloon01 {
				width: 75%;
				height: auto;
				background: url("../assets/pc/fukidashi01.png") center center no-repeat;
				background-size: 100% auto;
				&::before {
					content: "";
					display: block;
					padding-top: 9%;
				}
				p {
					width: 88%;
					height: auto;
					font-size: 2.0vw;
					margin: 0 0 0 9.5%;
				}
			}
			.baloon02 {
				width: 75%;
				height: auto;
				background: url("../assets/pc/fukidashi02.png") center center no-repeat;
				background-size: 100% auto;
				&::before {
					content: "";
					display: block;
					padding-top: 9%;
				}
				p {
					width: 88%;
					height: auto;
					font-size: 2.0vw;
					margin: 0 5% 0 3% ;
				}
			}
		}
	}
}

.section08 {
	width: 100%;
	height: auto;
	margin-top: 80px;
	position: relative;
	padding-bottom: 50px;
	.entry-content {
		display: flex;
		.left-box {
			width: 40%;
			height: auto;
			margin-right: 4%;
			position: relative;
			img {
				width: 100%;
			}
		}
		.right-box {
			width: 56%;
			position: relative;
			h1 img {
				width: 100%;
				max-width: 510px;
			}
			p {
				width: 100%;
				margin-top: 50px;
				margin-bottom: 30px;
			}
		}
	}
	.bg {
		width: 77%;
		height: 350px;
		background: url("../assets/pc/bg01.jpg") repeat;
		position: absolute;
		bottom: -50px;
		right: 0px;
		z-index: 0;
	}
}

.section09 {
	width: 100%;
	padding: 80px 0px;
	margin-top: 150px;
	background: $lightBlue;
	position: relative;
	h1 {
		width: 71%;
		position: absolute;
		top: 0px;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		z-index: 10;
		img {
			width: 100%;
		}
	}
	.b-staff-wanted {
		width: 77%;
		margin: 0 auto;
		display: flex;
		.left-box {
			width: 48%;
			margin-right: 4%;
			p {
				font-size: 22px;
				margin-bottom: 40px;
			}
		}
		.right-box {
			width: 48%;
			img {
				width: 100%;
			}
		}
	}
}

.section10 {
	width: 100%;
	padding: 80px 0px;
	h1,p {
		text-align: center;
	}
	h1 {
		width: 65%;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
	p {
		font-size: 22px;
		margin-top: 50px;
		line-height: 1.8;
		margin-bottom: 40px;
	}
	.l-fund-btn {
		display: block;
		width: 390px;
		margin: 0 auto;
	}
}

.section11 {
	width: 100%;
	padding: 80px 0px;
	background: url("../assets/pc/bg04.jpg") repeat;
	a {
		color: $blue;
		text-decoration: underline;
	}
	h1 {
		width: 46%;
		margin: 0 auto 50px;
		img {
			width: 100%;
		}
	}
	h3 {
		margin: 0;
	}
	.b-team-list {
		width: 46%;
		margin: 0px auto 30px;
		display: flex;
		p {
			width: 20%;
			margin-right: 10%;
			text-align: right;
			font-weight: bold;
		}
		ul {
			width: 70%;
			li {
				font-size: 18px;
			}
		}
	}
	.artist {
		width: 77%;
		margin: 100px auto 0px;
		display: flex;
		svg{
			width: 100%;
			height: 6px;
			margin-bottom: 5px;
		}
		svg line{
			fill: none;
			stroke: $blue;
			stroke-width: 6;
			stroke-linecap: round;
			stroke-dasharray: 0.5, 20;
		}
		.artist-left {
			width: 47%;
			border: $blue solid 1px;
			border-radius: 3px;
			background: #fff;
			margin-right: 5%;
			padding: 30px 3%;
			position: relative;
		}
		.artist-right {
			width: 47%;
			border: $blue solid 1px;
			border-radius: 3px;
			background: #fff;
			padding: 30px 3%;
			position: relative;
		}
		.half-circle-lo__half-circle-mod {
			-moz-border-radius: 58px 58px 0 0;
			-webkit-border-radius: 58px 58px 0 0;
			-o-border-radius: 58px 58px 0 0;
			-ms-border-radius: 58px 58px 0 0;
			border-radius: 58px 58px 0 0;
		}
		.half-circle-mod{
			position: absolute;
			top: -59px;
			right: 5%;
			background: #fff;
			border-top: 1px solid $blue;
			border-left: 1px solid $blue;
			border-right: 1px solid $blue;
			height: 58px;
			width: 116px;
			behavior: url(/PIE.htc);
			.l-half-circle {
				position: relative;
				width: 101px;
				height: 101px;
				img {
					width: 100%;
					display: block;
					position: absolute;
					top: 7px;
					left: 7px;
				}
			}
		}
	}
}

.section12 {
	width: 100%;
	margin-top: 60px;
	h1 {
		width: 77%;
		padding: 10px 0px;
		background: $yellow;
		border-radius: 3px;
		margin: 0px auto;
		font-family: $mgen;
		text-align: center;
		color: #fff;
		font-size: 3.0vw;
		letter-spacing: 0.1em;
	}
	.l-samary {
		width: 77%;
		margin: 60px auto 50px;
		display: flex;
		justify-content: space-between;
		.b-img-wrapper {
			width: 47%;
			img {
				width: 100%;
			}
		}
		p {
			width: 47%;
			font-size: 1.4vw;
			line-height: 1.7;
		}
	}
}